body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.bold-title {
    font-weight: 400;
}

.card-container {
    display: flex;
}

.supervisor-container, .karma-container, .team-container, .calculator-container{
    border-radius: 5px;
    height: 250px;
    width: 350px;
    background-color: white;
    box-shadow: 3px 3px 5px 6px hsl(229, 6%, 66%);
}

.supervisor-container {
    border-top: hsl(180, 62%, 55%) solid 4px;
    
}

.karma-container {
    border-top: hsl(34, 97%, 64%) solid 4px;
} 

.team-container {
    border-top: hsl(0, 78%, 62%) solid 4px;
} 

.calculator-container {
    border-top: hsl(212, 86%, 64%) solid 4px;
}

.text {
    color:hsl(229, 6%, 66%);
    font-size: 15px;
}